<!-- This page should be for Admin use only -->
<h1>Manage Users</h1>

<!-- Displaying list of all users in system -->
<h5>All Users</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
      <th scope="col">Groups</th>
      <th scope="col">Picture</th>
      <th scope="col">Commands</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of allUsers; let i = index">
          <!-- List user details -->
          <td>{{i + 1}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.status}}</td>

          <!-- List all groups of user -->
          <td><p *ngFor="let gName of user.groups">{{gName.groupName}}</p></td>

          <td>---</td>

          <!-- Not allowed to change of currently logged in user -->
          <td *ngIf="user.username != usernameUser">
            <!-- Only show for appropriate status and if user isn't already a certain status -->
            <button type="submit" *ngIf="isSuperAdmin() && user.status != 'SuperAdmin'" class="btn btn-primary btn-sm" (click)="updateStatus(user.username, 'SuperAdmin')" (click)="getAllUsers()">Make SuperAdmin</button>
            <button type="submit" *ngIf="user.status != 'GroupAdmin' && isSuperAdmin()" class="btn btn-primary btn-sm" (click)="updateStatus(user.username, 'GroupAdmin')" (click)="getAllUsers()">Make GroupAdmin</button>
            <button type="submit" *ngIf="user.status != 'GroupAssis'" class="btn btn-primary btn-sm" (click)="updateStatus(user.username, 'GroupAssis')" (click)="getAllUsers()">Make GroupAssis</button>
            <button type="submit" *ngIf="isSuperAdmin()" class="btn btn-danger btn-sm" (click)="deleteUser(user.username)" (click)="getAllUsers()" >Delete</button>
          </td>

      </tr>
  </tbody>
  <!-- Refresh button was used as dynamic updates were bugged -->
  <button type="submit" class="btn btn-secondary btn-sm" (click)="getAllUsers()">Refresh</button>
</table>

<!-- Form for creating new user -->
<h5>Create User</h5>
<input name="usernameNew" [(ngModel)]="usernameNew" class="form-control" placeholder="Username" required>
<input name="emailNew" [(ngModel)]="emailNew" class="form-control" placeholder="Email" type="email" required>
<input name="pwdNew" [(ngModel)]="pwdNew" class="form-control" placeholder="Password" type="password" required>
<select class="form-control" [(ngModel)]="statusNew">
   <option>Regular</option>
   <option>GroupAssis</option>
    <!-- Only give the option to create new user as Super Admin or Group Admin to Super Admins -->
   <option *ngIf="isSuperAdmin()">GroupAdmin</option>
   <option *ngIf="isSuperAdmin()">SuperAdmin</option>
 </select>

<button type="submit" class="btn btn-primary btn-block" (click)="createUser()" (click)="getAllUsers()">Create User</button>

<!-- Success and failure messages -->
<p *ngIf="existingUserError" class="text-danger text-center"> * User Already Exists</p>
<p *ngIf="userCreated" class="text-success text-center"> * User Created</p>

<input type="file" class="form-control" (change)="onFileSelected($event)" name="uploadfile" id="uploadfile">
<button class="btn btn-primary" type="button" (click)="onUpload()">Submit</button>
