<h1>Dashboard</h1>
<h5>Welcome, {{usernameUser}} ({{ statusUser }})!</h5>
<h5>Your Groups</h5>

 <!-- Groups added to -->
<select class="form-control" [(ngModel)]="selectedGroup">
  <option *ngFor="let group of groupArr" [value]="group">{{ group }}</option>
</select>
<br>

<!-- Channels -->
<ng-template [ngIf]="hasSlectedGroup()" [ngIfElse]="notSelectedGroup">
    <div>
        <h5>Your Channels</h5>
        <select class="form-control" [(ngModel)]="selectedGroup">
            <option *ngFor="let group of groupArr" [value]="group">{{ group }}</option>
          </select>
    </div>
  </ng-template>

  <ng-template #notSelectedGroup>
    <p class="text-muted">Select a Group to see your channels.</p>
  </ng-template>

