 <h1>Dashboard</h1>
 <h5>Welcome, {{usernameUser}} ({{ statusUser }})!</h5>
 <br>
 <h5>All Users</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
      <!-- <th scope="col">Commands</th> -->
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of allUsers">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.status}}</td>
          <!-- <td>
            <button type="submit" class="btn btn-primary btn-block" (click)="getAllUsers()">Make SuperAdmin</button>
            <button type="submit" class="btn btn-primary btn-block" (click)="getAllUsers()">Make GroupAdmin</button>
            <button type="submit" class="btn btn-primary btn-block" (click)="getAllUsers()">Make GroupAssis</button>
          </td> -->
      </tr>
  </tbody>
</table>

 <br>
 <h5>Create User</h5>
 <p *ngIf="userCreated" class="text-success text-center"> * Created user</p>
 <input name="idNew" [(ngModel)]="idNew" class="form-control" placeholder="ID" type="number">
 <input name="usernameNew" [(ngModel)]="usernameNew" class="form-control" placeholder="Name">
 <input name="emailNew" [(ngModel)]="emailNew" class="form-control" placeholder="Email" type="email">
 <input name="pwdNew" [(ngModel)]="pwdNew" class="form-control" placeholder="Password" type="password">
 <input name="statusNew" [(ngModel)]="statusNew" class="form-control" placeholder="Status">
 <button type="submit" class="btn btn-primary btn-block" (click)="createUser()" (click)="getAllUsers()">Create User</button>
 <br>
 <h5>Remove User</h5>
